USE [LMSDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2021-06-07 6:06:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Activities]    Script Date: 2021-06-07 6:06:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[TypeId] [int] NOT NULL,
	[ModuleId] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Activities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityTypes]    Script Date: 2021-06-07 6:06:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.ActivityTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 2021-06-07 6:06:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2021-06-07 6:06:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2021-06-07 6:06:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 2021-06-07 6:06:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 2021-06-07 6:06:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CourseId] [int] NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 2021-06-07 6:06:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[StartDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Courses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modules]    Script Date: 2021-06-07 6:06:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[CourseId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Modules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizChild]    Script Date: 2021-06-07 6:06:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizChild](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Questions] [nvarchar](max) NULL,
	[Answer] [nvarchar](max) NULL,
	[Quizid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.QuizChild] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quizs]    Script Date: 2021-06-07 6:06:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quizs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Courseid] [int] NOT NULL,
	[QuizName] [nvarchar](max) NULL,
	[Quizid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Quiz] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestChilds]    Script Date: 2021-06-07 6:06:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestChilds](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Testid] [int] NOT NULL,
	[Questions] [nvarchar](max) NULL,
	[Answer] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TestChilds] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 2021-06-07 6:06:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Testid] [int] NOT NULL,
	[Courseid] [int] NOT NULL,
	[Quizid] [int] NOT NULL,
	[StdName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Tests] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UMessages]    Script Date: 2021-06-07 6:06:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SenderId] [nvarchar](max) NULL,
	[Rubrik] [nvarchar](max) NULL,
	[Text] [nvarchar](max) NULL,
	[ReciverId] [nvarchar](128) NULL,
	[IsReaden] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UMessages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activities] ON 

INSERT [dbo].[Activities] ([Id], [Name], [TypeId], [ModuleId], [StartTime], [EndTime]) VALUES (1, N'Introduction', 1, 1, CAST(N'2021-02-22T08:30:00.000' AS DateTime), CAST(N'2021-02-22T10:30:00.000' AS DateTime))
INSERT [dbo].[Activities] ([Id], [Name], [TypeId], [ModuleId], [StartTime], [EndTime]) VALUES (2, N'Introduction', 1, 2, CAST(N'2021-02-22T08:30:00.000' AS DateTime), CAST(N'2021-02-22T10:30:00.000' AS DateTime))
INSERT [dbo].[Activities] ([Id], [Name], [TypeId], [ModuleId], [StartTime], [EndTime]) VALUES (3, N'Introduction', 1, 3, CAST(N'2021-02-22T08:30:00.000' AS DateTime), CAST(N'2021-02-22T10:30:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Activities] OFF
GO
SET IDENTITY_INSERT [dbo].[ActivityTypes] ON 

INSERT [dbo].[ActivityTypes] ([Id], [Name]) VALUES (1, N'E-Learning')
INSERT [dbo].[ActivityTypes] ([Id], [Name]) VALUES (2, N'Assignment')
INSERT [dbo].[ActivityTypes] ([Id], [Name]) VALUES (3, N'Exercise')
SET IDENTITY_INSERT [dbo].[ActivityTypes] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'10ccc5f8-9744-4a39-bf85-93f5c42714f5', N'Student')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'36393ebb-2d9c-4dc7-93e3-6ad15cc3022d', N'Teacher')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0be8807a-ccd9-4d50-9260-98b445ceedcf', N'10ccc5f8-9744-4a39-bf85-93f5c42714f5')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2b587ec6-fca9-4ef9-bc76-a1b608221067', N'10ccc5f8-9744-4a39-bf85-93f5c42714f5')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'3b80ea82-244e-45b8-82f8-b0c53f1e388a', N'10ccc5f8-9744-4a39-bf85-93f5c42714f5')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Name], [CourseId], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'0be8807a-ccd9-4d50-9260-98b445ceedcf', N'Boyan', 5, N'Boyan@gmail.com', 0, N'ABAlP9/Jle0pU0vO0zzys7DJuJciNDXJPgShE9ewEgo6U8AxGqvIl+OuOo4dFAb9cA==', N'ffdaa455-d3e6-4162-9d51-6ea4f2944f61', NULL, 0, 0, NULL, 0, 0, N'Boyan@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Name], [CourseId], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'2b587ec6-fca9-4ef9-bc76-a1b608221067', N'Kathy', 2, N'Kathy@gmail.com', 0, N'AMZpFJca+DDASxPx/vyStwEIIUmzGAScHnt7SbRw1Wj3qiOsBtBM/scaD85YDvYPVg==', N'2a81bc3d-5e23-4338-9c21-f1c9d086cdc4', NULL, 0, 0, NULL, 0, 0, N'Kathy@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Name], [CourseId], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'3b80ea82-244e-45b8-82f8-b0c53f1e388a', N'Linda', 4, N'Linda@gmail.com', 0, N'AOHrIQRdfc95zqutWoimTXZJdLmVWrsr6EiaEOALWgYUBaz1OWY4haZTQkvI7pDhzw==', N'80004e42-57d4-412f-bbee-b883f5fcd094', NULL, 0, 0, NULL, 0, 0, N'Linda@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([Id], [Name], [Description], [StartDate]) VALUES (1, N'.Net', N'.Net...', CAST(N'2021-02-22T02:06:44.143' AS DateTime))
INSERT [dbo].[Courses] ([Id], [Name], [Description], [StartDate]) VALUES (2, N'Java', N'Java...', CAST(N'2021-02-22T02:06:45.470' AS DateTime))
INSERT [dbo].[Courses] ([Id], [Name], [Description], [StartDate]) VALUES (3, N'IT-Support', N'IT-Support...', CAST(N'2021-02-22T02:06:45.473' AS DateTime))
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Modules] ON 

INSERT [dbo].[Modules] ([Id], [Name], [Description], [StartDate], [EndDate], [CourseId]) VALUES (1, N'Css', N'Css...', CAST(N'2021-05-01T00:00:00.000' AS DateTime), CAST(N'2021-05-24T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Modules] ([Id], [Name], [Description], [StartDate], [EndDate], [CourseId]) VALUES (2, N'Css', N'Css...', CAST(N'2021-02-22T02:06:45.523' AS DateTime), CAST(N'2021-02-25T02:06:45.523' AS DateTime), 2)
INSERT [dbo].[Modules] ([Id], [Name], [Description], [StartDate], [EndDate], [CourseId]) VALUES (3, N'Css', N'Css...', CAST(N'2021-02-22T02:06:45.523' AS DateTime), CAST(N'2021-02-25T02:06:45.523' AS DateTime), 4)
SET IDENTITY_INSERT [dbo].[Modules] OFF
GO
SET IDENTITY_INSERT [dbo].[QuizChild] ON 

INSERT [dbo].[QuizChild] ([id], [Questions], [Answer], [Quizid]) VALUES (3, N'thats good', N'yes', 2)
INSERT [dbo].[QuizChild] ([id], [Questions], [Answer], [Quizid]) VALUES (4, N'fine', N'no', 2)
INSERT [dbo].[QuizChild] ([id], [Questions], [Answer], [Quizid]) VALUES (5, N'.net cross', N'True', 1)
SET IDENTITY_INSERT [dbo].[QuizChild] OFF
GO
SET IDENTITY_INSERT [dbo].[Quizs] ON 

INSERT [dbo].[Quizs] ([id], [Courseid], [QuizName], [Quizid]) VALUES (1, 1, N'First', 1)
INSERT [dbo].[Quizs] ([id], [Courseid], [QuizName], [Quizid]) VALUES (2, 3, N'it sa', 2)
INSERT [dbo].[Quizs] ([id], [Courseid], [QuizName], [Quizid]) VALUES (3, 4, N'Pro', 3)
SET IDENTITY_INSERT [dbo].[Quizs] OFF
GO
SET IDENTITY_INSERT [dbo].[TestChilds] ON 

INSERT [dbo].[TestChilds] ([id], [Testid], [Questions], [Answer]) VALUES (24, 1, N'.net cross', N'True')
INSERT [dbo].[TestChilds] ([id], [Testid], [Questions], [Answer]) VALUES (25, 1, N'.net valid', N'False')
INSERT [dbo].[TestChilds] ([id], [Testid], [Questions], [Answer]) VALUES (26, 1, N'validity', N'False')
SET IDENTITY_INSERT [dbo].[TestChilds] OFF
GO
SET IDENTITY_INSERT [dbo].[Tests] ON 

INSERT [dbo].[Tests] ([id], [Testid], [Courseid], [Quizid], [StdName]) VALUES (18, 1, 1, 1, N'John')
INSERT [dbo].[Tests] ([id], [Testid], [Courseid], [Quizid], [StdName]) VALUES (19, 2, 4, 3, N'John')
INSERT [dbo].[Tests] ([id], [Testid], [Courseid], [Quizid], [StdName]) VALUES (20, 3, 4, 3, N'Umer')
SET IDENTITY_INSERT [dbo].[Tests] OFF
GO
ALTER TABLE [dbo].[QuizChild] ADD  DEFAULT ((0)) FOR [Quizid]
GO
ALTER TABLE [dbo].[Quizs] ADD  DEFAULT ((0)) FOR [Quizid]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Activities_dbo.ActivityTypes_TypeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[ActivityTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [FK_dbo.Activities_dbo.ActivityTypes_TypeId]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Activities_dbo.Modules_ModuleId] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Modules] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [FK_dbo.Activities_dbo.Modules_ModuleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUsers_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_dbo.AspNetUsers_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[Modules]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Modules_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Modules] CHECK CONSTRAINT [FK_dbo.Modules_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[UMessages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UMessages_dbo.AspNetUsers_ReciverId] FOREIGN KEY([ReciverId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UMessages] CHECK CONSTRAINT [FK_dbo.UMessages_dbo.AspNetUsers_ReciverId]
GO
